#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
input.divider,
select.divider {
  margin-bottom: 1rem;
}
span.errors {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

input:not(.radioAndCheckBox), select, textarea {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="radio"], input[type="checkbox"] {
  margin: 0 10px 0 10px;
}

textarea {
  resize: none;
}